  <thead class="produto-table-head">
    <tr>
      <th>Status</th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Número-OP</th>
      <th>Número-Lote</th>
      <th>Turno</th>
      <th>Data</th>
    </tr>
  </thead>