.main-container-dados {
  padding: 0;
}

.main-dados-header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  place-items: center;
}

.main-dados-header-title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.main-dados-header-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-items: start;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

.data-status {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  grid-column: 1/-1;
  justify-self: center;
}

.data-status.andamento {
  background: var(--yellow-product);
}

.data-status.aprovado {
  background: var(--green-product);
}

.data-status.reprovado {
  background: var(--red-product);
}

.main-analise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-analise-header-title {
  font-size: 3rem;
  font-weight: 500;
  margin-left: 6.5rem;
}

#analise .main-analise-header .button {
  width: max-content;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-container-analise {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#analise .main-container-analise .btn-finish-product {
  align-self: center;
  margin-top: 2.5rem;
  width: max-content;
  font-weight: 600;
  border-radius: 8px;
}

.list-analise {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.list-analise-item {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  border: 3px solid var(--secondary-color);
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35);
  position: relative;
}

.list-analise-item h3 {
  font-size: 1.5rem;
  text-align: center;
}

.list-analise-item p {
  height: 100%;
  max-width: 40ch;
  word-break: break-all;
  font-size: 1.2rem;
}

.list-analise-item span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--table-head-color);
  position: absolute;
  top: 10px;
  right: 15px;
}

.not-analise-title {
  font-size: 2rem;
  color: darkgray;
}

.options_analysis {
  justify-self: end;
  align-self: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.edit-adjustment {
  cursor: pointer;
  font-size: 1.8rem;
}

.edit-adjustment:hover {
  color: var(--secondary-color);
}

.checked-adjustment {
  cursor: pointer;
  border: 3px solid darkgray;
  color: rgb(73, 67, 67);
  background: var(--input-color);
  border-radius: 50%;
  padding: 0.2rem;
}

.checked-style {
  border: 3px solid transparent;
  color: #fff;
  background: var(--secondary-color);
}

/* MODAL */

.modal-register-analise {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px;
}

.modal-register-analise-content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  position: static;
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}

.form-register-analise {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.form-register-product .button {
  align-self: center;
  width: max-content;
  padding: 0.7rem 3rem;
  font-size: 1.225rem;
}

.register-analise-form-title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.register-analise-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 500px;
  padding: 3rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-fields label {
  font-size: 1.5rem;
  font-weight: 500;
}

.form-fields textarea {
  resize: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.225rem;
  outline: none;
  border: 3px solid transparent;
  background-color: var(--input-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 20rem;
}

.form-fields textarea {
  padding-left: 10px;
}

.form-fields textarea:focus {
  border-color: var(--primary-color);
}

#analise .button {
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
}

.show-modal {
  display: block;
  overflow: auto;
}

#finish-modal-product .modal-register-analise-content {
  padding: 1.5rem;
}

#finish-modal-product .form-fields input,
#finish-modal-product .form-fields select {
  width: 100%;
}

.form-fields label {
  margin-top: 1.5rem;
}

[data-js="product-reactor-title"] {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
