<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>AVCO - Análises</title>
  </head>
  <body id="analise">
    <header class="header">
      <div class="header-container">
        <img
          class="header-container-logo"
          src="/img/LOGO AVCO.png"
          alt="logo AVCO"
          width="140"
          height="140" />
        <h1 class="header-container-title">{{ product.name_product }}</h1>

        <div class="header-container-perfil">
          {{>partials/perfil/notification}}
          {{>partials/perfil/user}}
        </div>
      </div>
    </header>

    <main>
      <div class="main-container-dados container">
        <div class="main-dados-header">
          <h1 class="main-dados-header-title">Dados do Produto</h1>
          <ul class="main-dados-header-content" data-js="data-product">
            {{#product}}
            <li><strong>Nome:</strong> {{ name_product }}</li>
            <li><strong>Número-Roteiro:</strong> {{ num_roadmap }}</li>
            <li><strong>Número-OP:</strong> {{ num_op }}</li>
            <li><strong>Operador:</strong> {{ operator }}</li>
            <li><strong>Supervisor de Turno:</strong> {{ turn_supervisor }}</li>
            <li><strong>Reator:</strong> {{ reactor }}</li>
            <li><strong>Quantidade:</strong> {{ quant_produce }}kg</li>
            <li><strong>Número-Lote:</strong> {{ num_batch }}</li>
            <li><strong>Turno:</strong> {{ turn }}</li>
            <li><strong>Data:</strong> {{ formattingDate }}</li>
            <li class="data-status {{ status }}">
              {{ status }}
            </li>
            {{/product}}
          </ul>
        </div>
      </div>

      <div class="main-container-analise container">
        <div class="main-analise-header">
          <a href="/reator/{{ reactorId }}" class="button-voltar"
            ><i class="fa-solid fa-arrow-left"></i> Voltar</a
          >
          <h1 class="main-analise-header-title">Análises</h1>
          <div
            class="button {{#isAnalystUser}} hidden-button {{/isAnalystUser}}"
            data-js="open-modal">
            Adicionar Análise
            <i class="fa-solid fa-circle-plus button-add-product-icon"></i>
          </div>
        </div>

        <div class="main-container-analise-content">
          <ul class="list-analise" data-js="analyse-list">
            {{#analysis}}
            <li class="list-analise-item">
              <h3>Análise {{ count }}</h3>
              <p>{{ adjustment }}</p>
              <span>{{ formattingDate }}</span>
            </li>
            {{/analysis}}
          </ul>
        </div>

        <div
          class="button btn-finish-product {{#isAnalystUser}} hidden-button {{/isAnalystUser}}"
          data-js="open-modal-finish">
          Finalizar Produto
        </div>
      </div>
    </main>

    <footer>Desenvolvido por<a href=""> Jvictor</a></footer>

    {{>partials/analysis/createAnalyseModal}}
    {{>partials/analysis/finishedProductModal}}

    <script type="module" src="/js/analysis/analysis.js"></script>
    <script type="module" src="/js/notificationEvent.js"></script>
  </body>
</html>
