<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>AVCO - Login</title>
  </head>
  <body id="login">
    <header class="header">
      <div class="header-container">
        <img
          class="header-container-logo"
          src="./img/LOGO AVCO.png"
          alt="logo AVCO"
          width="140"
          height="140" />
      </div>
    </header>

    <main>
      <div class="main-container">
        <div class="card-login-container">
          <form class="card-login" data-js="login-form" action="/login" method="post">
            <h1>Login</h1>

            <div>
              <label for="name"><i class="fa-regular fa-user login-icon"></i></label>
              <input type="text" name="name" id="name" placeholder="Usuário" />
            </div>

            <div>
              <label for="user-pass"><i class="fa-solid fa-lock login-icon"></i></label>
              <input type="password" name="password" id="password" placeholder="Senha" />
            </div>

            {{#error}}
            <span class="message-error" data-js="message-js">{{ error }}</span>
            {{/error}}
            <button class="button button-login">Entrar</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
