<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>AVCO - Produtos</title>
  </head>
  <body id="produto">
    <header class="header">
      <div class="header-container">
        <img
          class="header-container-logo"
          src="/img/LOGO AVCO.png"
          alt="logo AVCO"
          width="140"
          height="140" />
        <h1 class="header-container-title">Reator {{ reactor.name }}</h1>

        <div class="header-container-perfil">
          {{>partials/perfil/notification}}
          {{>partials/perfil/user}}
        </div>
      </div>
    </header>

    <main>
      <div class="main-container-produto container">
        <div class="main-produto-header">
          <a href="/" class="button-voltar">
            <i class="fa-solid fa-arrow-left"></i>Voltar
          </a>
          <h1 class="main-produto-header-title">Produtos</h1>

          <div
            class="button {{#isProductUser}} hidden-button {{/isProductUser}}"
            data-js="open-modal"
            data-permiss="producer">
            Adicionar Produto
            <i class="fa-solid fa-circle-plus button-add-product-icon"></i>
          </div>
        </div>

        <div class="main-produto-tables" data-js="tables">
          <div class="main-produto-table andamento">
            <div class="main-produto-table-header" data-js="show-andamento">
              <h2 class="main-produto-table-title">Em andamento</h2>
              <i
                class="fa-solid fa-chevron-down arrow active-arrow"
                data-js="show-andamento"></i>
            </div>

            <table class="active-table" data-js="table-produto">
              {{>partials/product/table/tableProductHeader}}
              {{#listProduct}}
              <tbody class="produto-table-body" data-js="product-list-andamento">
                {{#process}}
                {{>partials/product/table/tableProductBody}}
                {{/process}}
              </tbody>
              {{/listProduct}}
            </table>
          </div>

          <div class="main-produto-table aprovados">
            <div class="main-produto-table-header" data-js="show-aprovados">
              <h2 class="main-produto-table-title">aprovados</h2>
              <i class="fa-solid fa-chevron-down arrow" data-js="show-aprovados"></i>
            </div>

            <table data-js="table-produto">
              {{>partials/product/table/tableProductHeader}}

              {{#listProduct}}
              <tbody class="produto-table-body" data-js="product-list-aprovado">
                {{#approved}}
                {{>partials/product/table/tableProductBody}}
                {{/approved}}
              </tbody>
              {{/listProduct}}
            </table>
          </div>

          <div class="main-produto-table reprovados">
            <div class="main-produto-table-header" data-js="show-reprovados">
              <h2 class="main-produto-table-title">reprovados</h2>
              <i class="fa-solid fa-chevron-down arrow" data-js="show-reprovados"></i>
            </div>
            <table data-js="table-produto">
              {{>partials/product/table/tableProductHeader}}
              {{#listProduct}}
              <tbody class="produto-table-body" data-js="product-list-reprovado">
                {{#disapproved}}
                {{>partials/product/table/tableProductBody}}
                {{/disapproved}}
              </tbody>
              {{/listProduct}}
            </table>
          </div>
        </div>
      </div>
    </main>

    <footer>Desenvolvido por<a href=""> Jvictor</a></footer>

    {{>partials/product/modal/productRegister}}

    <script type="module" src="/js/product/product.js"></script>
    {{!
    <script type="module" src="./js/user/user.js"></script>
    }}
    <script type="module" src="/js/notificationEvent.js"></script>
  </body>
</html>
