<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/icon-logo.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>AVCO - Reatores</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <img
          class="header-container-logo"
          src="/img/LOGO AVCO.png"
          alt="logo AVCO"
          width="140"
          height="140" />
        <h1 class="header-container-title">Reatores</h1>

        <div class="header-container-perfil">
          {{>partials/perfil/notification}}
          {{>partials/perfil/user}}
        </div>
      </div>
    </header>

    <main>
      <div class="main-container-reatores">
        <ul class="main-container-reatores-card" data-js="reactors-list">
          {{#reactor_list}}
          <li>
            <a href="/reator/{{ id_reactor }}" data-js="link-reactor-btn">
              Reator {{ name_reactor }}

              {{#existProductProgress}}
              <i class="fa-solid fa-exclamation notification-reactor"></i>
              {{/existProductProgress}}
            </a>
          </li>
          {{/reactor_list}}
        </ul>
      </div>
    </main>
    <footer>Desenvolvido por<a href=""> Jvictor</a></footer>
    <script type="module" src="/js/user.js"></script>
    <script type="module" src="/js/notificationEvent.js"></script>
  </body>
</html>
