<div class="perfil-notification">
  <label class="perfil-notification-icon" for="dropdown">
    <i class="fa-regular fa-bell icon-perfil"></i>
    <span class="circle-notification"></span>
  </label>
  <input type="checkbox" name="dropdown" id="dropdown" />
  <div class="menu-dropdown-notification">
    <ul data-js="list-notification">
      Nenhuma Notificação
    </ul>
  </div>
</div>
