<div class="confirm-analyse-box" data-js="box-confirm">
  <div>
    <h3 class="confirm-analyse-title">Confirmar Ajuste?</h3>
    <div class="confirm-analyse-options">
      <a class="options confirm" href="/checked-analysis/{{ analysis_id }}">Sim</a>
      <p class="options not-confirm">Não</p>
    </div>
  </div>
</div>
