<div class="modal-register-analise" data-js="modal-finish" id="finish-modal-product">
  <div class="modal-register-analise-content">
    <i class="fa-solid fa-xmark button-exit" data-js="button-exit"></i>
    <form
      class="form-register-analise"
      data-js="form-finish"
      method="post"
      action="/finished-product/{{ reactorId }}.{{ product.product_id }}">
      <h2 class="register-analise-form-title">Finalizar Produto:</h2>
      <h3 data-js="product-reactor-title">{{ product.name_product }}-{{ product.reactor }}</h3>

      <div class="register-analise-form-container">
        <div class="form-fields">
          <label for="status">Situação Final:</label>
          <select name="status" id="status">
            <option value="aprovado">Aprovado</option>
            <option value="reprovado">Reprovado</option>
          </select>

          <label for="confirm_finished">Digite o Nome do Produto e Reator:</label>
          <input
            type="text"
            name="confirm_finished"
            id="confirm_finished"
            placeholder="Ex: Produto - Reator" />

          <label for="name_analyst">Digite o Nome do Analista:</label>
          <input type="text" name="name_analyst" id="name_analyst" />
        </div>
        <button class="button">Finalizar</button>
      </div>
    </form>
  </div>
</div>
