.main-container-produto {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 20px;
  background-color: var(--secondary-bg);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.main-produto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-produto-header-title {
  font-size: 3rem;
  font-weight: 500;
}

#produto .main-produto-header .button {
  padding: 0.7rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 0%;
}

.main-produto-tables {
  padding: 3rem;
}

.main-produto-table {
  margin-bottom: 5rem;
}

.main-produto-table-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--primary-color);
  margin-bottom: 0.5rem;
  padding: 0 0.9rem;
  position: relative;
  z-index: 10;
}

.main-produto-table-header img {
  width: 34px;
  height: auto;
}

.main-produto-table-title {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

table {
  display: none;
  margin: 0 auto;
  border-collapse: collapse;
}

.produto-table-head tr,
.produto-table-body tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.produto-table-head tr th:first-child {
  text-align: start;
}

.produto-table-head {
  background: var(--primary-color);
}

.produto-table-head th {
  text-align: center;
  align-self: center;
  color: white;
  font-size: 1.2rem;
  padding: 0rem 1rem;
}

.produto-table-body {
  display: grid;
  gap: 1rem;
  font-size: 1.2rem;
}

.produto-table-body tr {
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-left: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  box-shadow: -1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.produto-table-body td {
  padding: 0.5rem;
  align-self: center;
}

.produto-table-body .button {
  padding: 0.2rem 1rem;
  max-width: 8ch;
  word-break: keep-all;
  color: white;
}

.produto-table-body td:last-child {
  justify-self: end;
}

.circle {
  display: block;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.andamento .circle {
  background: var(--yellow-product);
}

.aprovados .circle {
  background: var(--green-product);
}

.reprovados .circle {
  background: var(--red-product);
}

.active-table {
  display: block;
}

.active-arrow {
  transform: rotate(180deg);
}

.modal-register-produto {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 100px;
}

.modal-register-produto-content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 10px;
}

.form-register-product {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-register-product .button {
  align-self: center;
  width: max-content;
  padding: 0.7rem 3rem;
  font-size: 1.225rem;
}

.register-produto-form-title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.register-produto-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
  column-gap: 10rem;
  padding: 3rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-fields label {
  font-size: 1.5rem;
  font-weight: 500;
}

.form-fields input,
.form-fields select {
  font-size: 1.3rem;
  padding: 0.5rem 0.225rem;
  outline: none;
  border: 3px solid transparent;
  background-color: var(--input-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 20rem;
}

.form-fields input {
  padding-left: 10px;
}

.form-fields input:focus,
.form-fields select:focus {
  border-color: var(--primary-color);
}

.button-exit {
  align-self: end;
  cursor: pointer;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-exit:hover {
  background-color: brown;
}

.show-modal {
  display: block;
  overflow: hidden;
}

.form-fields .input-error:focus {
  border-color: brown;
}
